doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Error 404
            p Page not found
        a.button(href='javascript:history.back()') Back
        a.button(href='/') Home