doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)

body
    include includes/nav.pug
    #content
        span.header
            h1 Add your bot
            p Fill in these details and hit that button. Make sure you&apos;re in the server.
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder Client ID
            br
            .input-holder
                input#prefix.input(type='text' placeholder=' ')
                .placeholder Prefix
            br
            .input-holder
                input#description.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Summary
            br
            .input-holder
                textarea#longdesc.input(rows='7')
                .textarea-placeholder Description
            br
            .input-holder
                input#note.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Note to admin
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder Additional Owner IDs
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button(onclick='submit()') Submit
            br
        br