doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)
link(rel="stylesheet" href="/assets/css/tags.css")

body
    include includes/nav.pug
    #content
        span.header
            h1 Add your bot
            p Fill in these details and hit that button. Make sure you&apos;re in the server.
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder Client ID
            br
            .input-holder
                input#prefix.input(type='text' placeholder=' ')
                .placeholder Prefix
            br
            .input-holder
                input#description.input(maxlength='120' type='text' placeholder=' ')
                .placeholder Summary
            br
            .input-holder
                input#invite.input(type='text' placeholder=' ')
                .placeholder Custom Invite
            br
            .input-holder
                textarea#longdesc.input(rows='7')
                .textarea-placeholder Description
            br
            .input-holder
                input#support.input(type='text' placeholder=' ')
                .placeholder Support Server
            br
            .input-holder
                input#website.input(type='text' placeholder=' ')
                .placeholder Website
            br
            .input-holder
                input#github.input(type='text' placeholder=' ')
                .placeholder Github Repository
            br
            .input-holder
              select#tags(data-placeholder="Select tags" multiple)
                each tag of bot_tags
                    option #{tag}
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder Additional Owner IDs
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=theme)
            a.button(onclick='submit()') Submit
            br
        br