doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 Discord Bot List
            p Just another bot list for Discord.
        #searchMore
            | Would you like to 
            a(href='/bots/search/') search all bots
        #cards
            span#loading Loading...
