doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Success
            p You have added your bot to the list. Please wait for it to be verified.
        a.button(href='javascript:history.back()') Back
        a.button(href='/') Home