doctype html
include ../includes/head.pug
body
  include ../includes/nav.pug
  #content
    span.header
        h1 Error
        p User not found
        h4
            | Join the server 
            a(target="_blank" href="/join") here 
