body {
    color: #FFFFFF !important;
    background-color: #2C2F33 !important;
}

h1,
h2 {
    color: #7289DA !important;
}

#navTop,
.dd-content,
.placeholder,
.textarea-placeholder {
    background-color: #2C2F33 !important;
}

#long,
#by {
    background-color: #23272A !important;
    /* F3F3F3 */
}

input,
textarea {
    color: #fff;
}