head
    meta(property='og:title' content='Discord Bots')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Just another bot list for discord...')
    meta(name='description' content='Just another bot list for discord...')
    meta(name='og:image' content='/assets/img/logo.png')
    meta(name='theme-color' content='#d2efe6')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')

    link(rel='shortcut icon' type='image/png' href='/assets/img/logo.png')
    link(href='/assets/css/main.css' rel='stylesheet')
    link(href='/theme' rel='stylesheet')

    //- Font from google fonts
    link(href='https://fonts.googleapis.com/icon?family=Markazi+Text' rel='stylesheet')
    
    //- CKEDITOR 4 for Description editing in HTML
    script(src='https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js')

    //- jQuery
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')

    //- Noty
    script(src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css' rel='stylesheet')

    //- FontAwesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' rel='stylesheet')
    
    script(src='/assets/js/main.js')
    script(src='/assets/js/cards.js')

    //- Import SWAL
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    link(href='https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css' rel='stylesheet')

    
    title Discord Bots
