head
    meta(property='og:title' content='Discord Bots')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Just another bot list for discord...')
    meta(name='description' content='Just another bot list for discord...')
    meta(name='og:image' content='/assets/img/logo.png')
    meta(name='theme-color' content='#d2efe6')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')

    link(rel='shortcut icon' type='image/png' href='/assets/img/logo.png')
    link(href='https://fonts.googleapis.com/icon?family=Markazi+Text' rel='stylesheet')
    link(href='/assets/css/main.css' rel='stylesheet')
    link(href='/theme' rel='stylesheet')
    
    script(src='https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')
    script(src='/assets/js/main.js')
    script(src='/assets/js/cards.js')
    
    title Discord Bots